<div class="rounded position-relative product-item">
    <div 
        class="category-badge text-white bg-primary px-3 py-1 rounded position-absolute">
        {{product.category?.name}}
    </div>
    <div class="product-img">
        <div
            class="image-placeholder"
            *ngIf="!imageLoaded">
        </div>

        <img
            class="img-fluid w-100 rounded-top"
            [src]="getProductImageUrl(product)"
            [alt]="product.name"
            (load)="onImageLoaded()"
            (error)="onImageLoaded()"
            [class.loaded]="imageLoaded">
    </div>

    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
        <a
            [routerLink]="['/storefront/product', product.slug]"
            class="text-dark text-decoration-none">
            <h4 class="product-title" title="{{ product.name }}">
            {{ product.name }}
            </h4>
        </a>
        <p class="product-description ">
            {{ product.description }}
        </p>

        <div class="price-section">
            <ng-container *ngIf="getProductPriceSummary(product) as priceSummary">
                <p
                    class="product-price fw-bold"
                    [class.text-muted]="isOutOfStock(product)"
                    [class.text-decoration-line-through]="isOutOfStock(product)">

                    <ng-container *ngIf="priceSummary.hasPriceRange; else singlePrice">

                        {{ priceSummary.minPrice | currency:'PHP' }}
                        -
                        {{ priceSummary.maxPrice | currency:'PHP' }}

                    </ng-container>

                    <ng-template #singlePrice>
                        {{ priceSummary.minPrice | currency:'PHP' }}
                    </ng-template>

                </p>

            </ng-container>
            <button
                class="btn rounded-pill px-3"
                (click)="onAddToCart()"
                [disabled]="isOutOfStock(product)"
                [class.border-danger]="isOutOfStock(product)"
                [class.text-danger]="isOutOfStock(product)"
                [class.border-secondary]="!isOutOfStock(product)"
                [class.text-primary]="!isOutOfStock(product)">
                <i
                    *ngIf="!isOutOfStock(product)"
                    class="fa fa-shopping-bag me-2">
                </i>
                {{
                    isOutOfStock(product)
                    ? 'Out of Stock'
                    : 'Add'
                }}
            </button>
        </div>
    </div>
</div>