<div class="product-image-container border rounded">
    <img
        [src]="getMainImageUrl(product)"
        class="img-fluid rounded"
        alt="{{ product.name }}"
    />
</div>
<div class="thumbnail-carousel">
    <button
        class="carousel-btn"
        (click)="scrollLeft()"
        [disabled]="!canScrollLeft">

        <i class="fas fa-chevron-left"></i>

    </button>
    <div
        #thumbnailContainer
        class="product-thumbnails"
        (scroll)="onThumbnailScroll()">
        <button
            *ngFor="let image of galleryImages trackBy: trackByGalleryImage"
            type="button"
            class="product-thumbnail"
            [attr.data-gallery-id]="image.id"
            [class.active]="activeGalleryImage?.id === image.id"
            (click)="selectProductImage(image)">

            <img
                [src]="image.imageUrl"
                [alt]="product.name + ' thumbnail'">
                
        </button>
    </div>
    <button
        class="carousel-btn"
        (click)="scrollRight()"
        [disabled]="!canScrollRight">

        <i class="fas fa-chevron-right"></i>

    </button>
</div>