.form-check {
    padding-left: 2.5em !important;
}
.icon-size {
    width: 24px;
    height: 24px;
}
.card .card-header {
    padding: 0.75rem 1.25rem;
}
.is-invalid {
  border: 2px solid #dc3545 !important;
}


/*- IMAGE UPLOAD UPDATED STYLE-*/
.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.upload-box {
  border: 2px dashed #ccc;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease;
}

.upload-box:hover {
  border-color: #0d6efd;
  background: #f8f9fa;
}

.upload-placeholder {
  color: #6c757d;
}

.preview-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 6px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 12px;
  border-radius: 0 0 10px 10px;
}