.form-check {
    padding-left: 2.5em;
}
.form-check, .form-radio {
    margin-top: 5px;
}

.tree-toggle {
  cursor: pointer;
}
.category-row {
    cursor: pointer;
}
select.form-control {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}