<div class="d-flex align-items-center">
  <!-- FULL STARS -->
  <ng-container *ngFor="let _ of [].constructor(fullStars)">
    <i class="fa fa-star text-secondary"></i>
  </ng-container>

  <!-- HALF STAR -->
  <i
    *ngIf="hasHalfStar"
    class="fa fa-star-half-alt text-secondary">
  </i>

  <!-- EMPTY STARS -->
  <ng-container *ngFor="let _ of [].constructor(emptyStars)">
    <i class="fa fa-star text-muted"></i>
  </ng-container>

  <!-- REVIEW COUNT -->
  <small
    *ngIf="showCount"
    class="text-muted ms-2">
    ({{ count }})
  </small>
</div>